# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List popular languages for Data Science
- List commonly used Data Science libraries
- List of open source development IDEs
- Performing basic arithmetic operation, along with comments describing the exercise
- Text formatting such as definining headers, making text bold/ italicize
- Adding table, ordered/ unordered lists

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. SciPy
5. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|RStudio|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
1+1

2

In [2]:
76-34

42

In [3]:
4*7

28

In [4]:
64/8

8.0

In [9]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [16]:
#This will convert 200 minutes to hours by diving by 60
round(200/60)

3

## Author
Shristi Jaiswal